[submodule "upstream/Launcher"]
	path = upstream/Launcher
	url = https://github.com/bmorcelli/Launcher.git
	branch = main
[submodule "upstream/Bruce"]
	path = upstream/Bruce
	url = https://github.com/BruceDevices/firmware.git
	branch = main
[submodule "upstream/Meshtastic"]
	path = upstream/Meshtastic
	url = https://github.com/meshtastic/firmware.git
	branch = develop
[submodule "upstream/CardPuterAdvancedDoom"]
	path = upstream/CardPuterAdvancedDoom
	url = https://github.com/MAXXTANG/CardPuterAdvancedDoom.git
	branch = main
[submodule "upstream/Cardputer-Game-Station-Emulators"]
	path = upstream/Cardputer-Game-Station-Emulators
	url = https://github.com/geo-tp/Cardputer-Game-Station-Emulators.git
	branch = xip_load
[submodule "upstream/ESP32-Bit-Pirate"]
	path = upstream/ESP32-Bit-Pirate
	url = https://github.com/geo-tp/ESP32-Bit-Pirate.git
	branch = pioarduino
[submodule "upstream/cardputer-community-pack"]
	path = upstream/cardputer-community-pack
	url = https://github.com/mgwein/cardputer.git
	branch = main
[submodule "games/projects/CardPuterAdvancedDoom"]
	path = games/projects/CardPuterAdvancedDoom
	url = https://github.com/MAXXTANG/CardPuterAdvancedDoom.git
	branch = main
[submodule "games/projects/Cypher-Gamer"]
	path = games/projects/Cypher-Gamer
	url = https://github.com/dkyazzentwatwa/cardputer-games.git
	branch = main
[submodule "games/projects/cardputer-puzzles"]
	path = games/projects/cardputer-puzzles
	url = https://github.com/chongjiazhen/cardputer-puzzles.git
	branch = main
[submodule "games/projects/cardputer-chess"]
	path = games/projects/cardputer-chess
	url = https://github.com/kaini-industries/cardputer-chess.git
	branch = main
[submodule "games/projects/raising-hell-cardputer"]
	path = games/projects/raising-hell-cardputer
	url = https://github.com/acpayers-alt/raising-hell-cardputer.git
	branch = main
[submodule "games/projects/MiniMaze-for-Cardputer-ADV"]
	path = games/projects/MiniMaze-for-Cardputer-ADV
	url = https://github.com/chillyc0de/MiniMaze-for-Cardputer-ADV.git
	branch = main
[submodule "games/projects/Cardputer-Alchemy-ADV-Game"]
	path = games/projects/Cardputer-Alchemy-ADV-Game
	url = https://github.com/Zeloksa/Cardputer-Alchemy-ADV-Game.git
	branch = main
[submodule "games/projects/Piano-Tiles-ADV"]
	path = games/projects/Piano-Tiles-ADV
	url = https://github.com/Zeloksa/Piano-Tiles-ADV.git
	branch = main
[submodule "games/projects/geek-casino-cardputeradv"]
	path = games/projects/geek-casino-cardputeradv
	url = https://github.com/chatelp/geek-casino-cardputeradv.git
	branch = main
[submodule "games/projects/cardputer-atari800"]
	path = games/projects/cardputer-atari800
	url = https://github.com/falkenhawk/cardputer-atari800.git
	branch = main
[submodule "games/projects/Gameboy4cardputerADV-DualScreen"]
	path = games/projects/Gameboy4cardputerADV-DualScreen
	url = https://github.com/mariovirgili/Gameboy4cardputerADV-DualScreen.git
	branch = main
[submodule "games/projects/M5-ADV-Basketball-game"]
	path = games/projects/M5-ADV-Basketball-game
	url = https://github.com/judedanger2012/M5-ADV-Basketball-game.git
	branch = main
[submodule "games/projects/M5Cardputer_ADV-tic-tac-toe"]
	path = games/projects/M5Cardputer_ADV-tic-tac-toe
	url = https://github.com/Archer7x/M5Cardputer_ADV-tic-tac-toe.git
	branch = main
[submodule "games/projects/battleship"]
	path = games/projects/battleship
	url = https://github.com/sakkra-adv/battleship.git
	branch = main
[submodule "games/projects/cardputer-game-os"]
	path = games/projects/cardputer-game-os
	url = https://github.com/dkyazzentwatwa/cardputer-game-os.git
	branch = main
